@import "bootstrap/dist/css/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
  z-index: 9999;
}
#sideNav {
  min-height: 536px !important;
  background-color: #f8f9fa !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
#adminProfilePicture {
  height: 150px !important;
  width: 150px !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  margin: 10px auto !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#sideNavMenu {
  list-style-type: none;
  padding: 0px;
}
.sideNavMenuItem {
  float: left !important;
  padding: 10px !important;
  width: 100% !important;
}
.sideNavMenuItem:hover {
  background-color: #0bb5eb !important;
  cursor: pointer !important;
  transition: 0.3s ease !important;
  color: #fff !important;
}
.sideNavMenuItem:hover .sideNavMenuLink {
  /* color: #fff !important; */
  text-decoration: none !important;
}
.sideNavMenuLink {
  color: #6d6d6d;
  font-weight: bold;
}
.blue-heading {
  color: #0bb5eb !important;
  font-weight: bold !important;
}
.homeCards {
  box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.19) !important;
}

.green {
  color: green !important;
}
.red {
  color: red !important;
}
.accordion .card-header {
  background-color: transparent !important;
}
.accordion .card {
  background-color: transparent !important;
}
.btn-modifier {
  text-decoration: none !important;
  color: #fff !important;
}
.createPostBtn {
  color: #fff !important;
}
.createPostBtn:hover {
  text-decoration: none !important;
}
.modele-general {
  border: 1px solid #ccc !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 0.25rem !important;
  margin: 5px !important;
  display: inline-block !important;
  width: fit-content !important;
}
.list-group-item {
  border: 0px !important;
}
.modele-desc {
  border: 1px solid #ccc !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 0.25rem !important;
  margin: 5px !important;
}
.card-header-tabs {
  border-bottom: 1px solid #dee2e6 !important;
}


.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid #0bb5eb;
  border-left: 1.1em solid #ffffff;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}